.pagination {
  width: 1487px;
  display: flex;
  justify-content: space-around;
}
.pagination span {
display: flex;
width: 50px;
height: 50px;
border-radius: 4px;
margin: 5px;
cursor: pointer;
align-items: center;
justify-content: center;
font-weight: bold;
color: white;
}
.pagination span.dots {
  cursor: default;
}
.curPageSpan {
  background-color: #8080801d;
}

.pagination button {
    margin: 5px 40px;
    margin-bottom: 15px;
    width: 8vh;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(to bottom, #3ab5b0 0%, #3d99be 60%, #56317a 100%);
    border-radius: 10px;
    font-weight: bolder;
  }
  
  .pagination p {
   /*  align-self: center; */
    color: white;
    text-align: center;
    font-family: Inspiration;
    font-size: 4vh;
    font-weight: bolder;
   
  }
  
  div.pagination {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }