.tableTop {
  display: flex;
  justify-content: center;
  width: 1487px;
}
.tableTop div.title {
  margin-bottom: 15px;
  width: 297.4px;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.tableTop div.title img {
  max-height: 35%;
  max-width: auto; 
  margin-left: 25px;
}
p.symbol {
  cursor: pointer;
}

.text {
  font-size: 18px;
  font-family: "graphikMedium";
}

@font-face {
  font-family: 'graphikMedium';
  src: url('../../graphik-font/GraphikMedium.otf');
}
