@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 50px;
  padding-bottom: 10px;
}

.tableTop {
  display: flex;
  justify-content: center;
}
.tableTop div.title {
  /*  margin: 5px 20px */
  margin-bottom: 15px;
  width: 200px;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}


.pagination button {
  margin: 5px 40px;
  margin-bottom: 15px;
  width: 8vh;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to bottom, #3ab5b0 0%, #3d99be 60%, #56317a 100%);
  border-radius: 10px;
  font-weight: bolder;
}

.pagination p {
  /*  align-self: center; */
  color: white;
  text-align: center;
  font-family: Inspiration;
  font-size: 4vh;
  font-weight: bolder;
}

div.pagination {
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

p.symbol {
  cursor: pointer;
}

hr {
  width: 1487px;
  height: 1px;
  background-color: white;
  margin: 50px 0px;
}
